section#tour.container-fluid
    #tour-slider.carousel.slide(data-ride='carousel')
        ol.carousel-indicators.pagination
            li.pagination-bullet(data-target="#tour-slider" data-slide-to="0" class="active")
            li.pagination-bullet(data-target="#tour-slider" data-slide-to="1")
            li.pagination-bullet(data-target="#tour-slider" data-slide-to="2")

        .carousel-inner(role='listbox')
            .item.active
                .row
                    .col-md-6
                        img.macbook-screenshot.scroll-reveal(src="/images/tour/macbook.svg" alt="Macbook showing our stats extension")
                    .col-md-4
                        h2 Powerful Extensions 1
                        p This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature.
                        p
                            a(href="#contact" alt="Learn more about Module 02 extensions")
                                span Learn more&nbsp;&nbsp;
                                img(src="/images/common/chevron-right.svg" alt="Learn more about our powerful extensions")

            .item
                .row
                    .col-md-6
                        img.macbook-screenshot.scroll-reveal(src="/images/tour/macbook.svg" alt="Macbook showing our stats extension")
                    .col-md-4
                        h2 Powerful Extensions 2
                        p This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature.
                        p
                            a(href="#contact" alt="Learn more about Module 02 extensions")
                                span Learn more&nbsp;&nbsp;
                                img(src="/images/common/chevron-right.svg" alt="Learn more about our powerful extensions")

            .item
                .row
                    .col-md-6
                        img.macbook-screenshot.scroll-reveal(src="/images/tour/macbook.svg" alt="Macbook showing our stats extension")
                    .col-md-4
                        h2 Powerful Extensions 3
                        p This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature.
                        p
                            a(href="#contact" alt="Learn more about Module 02 extensions")
                                span Learn more&nbsp;&nbsp;
                                img(src="/images/common/chevron-right.svg" alt="Learn more about our powerful extensions")

        a.left.carousel-control(href='#tour-slider', role='button', data-slide='prev')
            span.carousel-control-prev(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#tour-slider', role='button', data-slide='next')
            span.carousel-control-next(aria-hidden='true')
            span.sr-only Next
