#tour
    line-height: 25px;
    min-height: 400px;
    padding-bottom: 60px;
    position: relative;

    p
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 22px;

    .container
        @media screen and (max-width: 991px)
            position: inherit;

    .macbook-screenshot
        height: 372px;
        max-width: 100%;

        @media screen and (min-width: 992px)
            @media screen and (max-width: 1400px)
                left: -110px;
                position: absolute;
                top: 0;

    #tour-slider
        height: 640px;
        padding-top: 100px;

    .item
        height: 400px;

    .carousel-control
        background: none;

    .pagination
        position: relative;
        text-align: center;
        top: 400px;
        width: 100%;

        .pagination-bullet
            display: inline-block;
            width: 16px;

            span
                background: $mutedColor;
                border-radius: 50%;
                box-sizing: content-box;
                display: inline-block;
                height: 6px;
                margin: 2px;
                width: 6px;

            &.active
                span
                    background: $linkColor;
                    margin: 0;
                    padding: 2px;

            &:hover
                span
                    background: $textColor;

    @media (max-width: 767px)
        padding: 0;

        .macbook-screenshot
            max-width: 300px;

        #tour-slider
            height: 640px;
            padding: 0;
            text-align: center;

            .carousel-inner
                overflow: visible;

                h2
                    margin-top: -30px;

                .item
                    padding: 30px;
