#tour
    line-height: 25px;
    min-height: 400px;
    padding: 0 0 60px 0;
    position: relative;

    p
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 22px;

    .container
        @media screen and (max-width: 991px)
            position: inherit;

    .macbook-screenshot
        height: 372px;
        max-width: 100%;

        @media screen and (min-width: 992px)
            @media screen and (max-width: 1400px)
                left: -110px;
                position: absolute;
                top: 0;

    #tour-slider
        height: 640px;
        padding-top: 100px;

    .item
        height: 400px;

    .carousel-control
        background: none;

        .carousel-control-next
        .carousel-control-prev
            background: url('/images/common/chevron-next.svg') center no-repeat;
            display: block;
            height: 30px;
            padding-right: 60px;
            position: absolute;
            right: 0;
            top: 266px;
            width: 30px;

        .carousel-control-prev
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
            left: 0;

    .pagination
        left: 51%;
        margin: 0;
        position: relative;
        text-align: left;
        top: 400px;
        width: 40%;

        .pagination-bullet
            background: $mutedColor;
            border-radius: 50%;
            box-sizing: content-box;
            display: inline-block;
            height: 6px;
            margin: 2px;
            width: 6px;

            &.active
                background: $linkColor;
                margin: 0;
                padding: 2px;

            &:hover
                background: $textColor;

    @media (max-width: 992px)
        padding: 0;

        .macbook-screenshot
            max-width: 300px;

        #tour-slider
            height: 640px;
            padding: 0;
            text-align: center;

            .carousel-inner
                overflow: visible;

                h2
                    margin-top: -30px;

                .item
                    padding: 30px;

            .pagination
                left: 0;
                text-align: center;
                top: 350px;
                width: 100%;
