section#tour.container-fluid
    .container
        .row
            .sliders
                .col-md-6
                    img.macbook-screenshot(src="/images/tour/macbook.svg" alt="Macbook showing our stats extension")

                .col-md-4
                    h2 Powerful Extensions
                    p This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature.
                    p
                        a(href="#contact" alt="Learn more about Module 02 extensions")
                            span Learn more&nbsp;&nbsp;
                            img(src="/images/common/chevron-right.svg" alt="Learn more about our powerful extensions")

                    .pagination
                        a.pagination-bullet.pagination-selected(href="#")
                            span &nbsp;
                        a.pagination-bullet(href="#")
                            span &nbsp;
                        a.pagination-bullet(href="#")
                            span &nbsp;
                        a.pagination-bullet(href="#")
                            span &nbsp;
                        a.pagination-bullet(href="#")
                            span &nbsp;
