include ../_core/mixins.pug
+body
    include common/menu
    include showcase/showcase
    include tour/tour
    include pricing/pricing
    include cat/cat

    footer#contact.container-fluid
        .container
            .col-md-1.logo
                img.img-responsive(src="/images/common/module-02-logo-color.svg" alt="Module 02 logo in full color")

            .col-md-3.copyright
                p Huge modern UI Kit containing 130+ terrific components in 11 popular categories. Each component is fully.

            .col-md-6.sitemap
                .row
                    ul.col-md-3.col-offset-1
                        li.header Support
                        li
                            a(href="#") About Us
                            a(href="#") Press
                            a(href="#") FAQ

                    ul.col-md-3
                        li.header Business
                        li
                            a(href="#") Home
                            a(href="#") Mobile
                            a(href="#") Pricing

                    ul.col-md-3
                        li.header Community
                        li
                            a(href="#") Developers
                            a(href="#") Referrals
                            a(href="#") Forum

            .col-md-2.language-selector
                .btn-group.dropup
                    span.language-en-UK English (UK)

                    span(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        span.caret
                        span.sr-only Select language

                    ul.dropdown-menu.dropdown-menu-right
                        li
                            a(href="?lang=es").language-es Español
                            a(href="/").language-en-UK English (UK)
                            a(href="/").language-en-US English (US)
