#pricing
    background: $mutedBackground;
    padding-top: 117px;

    header
        margin-bottom: 45px;

    .plans-wrapper
        background: #FFF;
        box-shadow: 0 2px 4px 0px rgba(0,0,0,0.10);
        border-radius: 6px;
        padding: 0 15px;
        text-align: center;

        h3
            color: $linkColor;
            font-size: 14px;
            font-weight: 500;

        h4
            color: $headerColor;
            font-size: 52px;
            font-weight: 300;
            letter-spacing: -2px;
            line-height: 58px;
            margin-bottom: 5px;

        hr
            border-color: #E1E8EE;
            margin-bottom: 30px;

        p
            font-weight: 300;

        .price-tag
            font-size: 14px;
            margin-bottom: 20px;

        .plan
            background: #FFF;
            border-right: 1px solid #F4F4F4;
            padding: 30px;

            ul
                font-size: 14px;
                list-style-type: none;
                padding-left: 0;
                text-align: left;

                li
                    color: #BFC7CE;
                    font-weight: 300;
                    height: 50px;
                    padding-left: 40px;

                .checked
                    background: url('/images/common/checkmark.svg') 0 3px no-repeat;
                    color: $textColor;

            &:first-child
                border-radius: 6px 0 0 6px;

            &:last-child
                border: 0
                border-radius: 0 6px 6px 0;

        .get-started
            padding-top: 40px;

        .plan-featured
            background: #39ADD1;
            color: #FFF;

            h3
            h4
                color: #FFF;

            hr
                border-color: #ADDDEC;

            p
                color: #ADDDEC;

            .btn-secondary
                background: #7DC855;
                border-color: #7dc855;
                color: #FFFFFF;

