section#pricing.container-fluid
    .container
        header.col-md-8.col-md-offset-2
            h1 Simple Pricing
            p It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind.

    .container
        .plans-wrapper
            .row
                .col-md-4.col-sm-6.plan
                    h3 BASIC
                    p.plan-description For a taste our product
                    hr
                    h4.scroll-reveal $0
                    p.plan-tag always free
                    p.plan-excerpt How to boost the design and developing process with help of four paws.
                    hr
                    ul.check-marks
                        li.checked 2 Gb of space
                        li.checked 30 days of file recovery
                        li.checked MS Office 365 integration
                        li.text-muted Unlimited third-party integrations
                        li.text-muted Remote wipe
                    .get-started
                        button.btn.btn-secondary.scroll-reveal Get started

                .col-md-4.col-sm-6.plan
                    h3 PROFESSIONAL
                    p.plan-description Make individual product
                    hr
                    h4.scroll-reveal $8.99
                    p.plan-tag per month
                    p.plan-excerpt Computer War Games How To Estimate Decisions Made By C C Trainees.
                    hr
                    ul.check-marks
                        li.checked 8 Gb of space
                        li.checked 60 days of file recovery
                        li.checked MS Office 365 integration
                        li.checked Unlimited third-party integrations
                        li.text-muted Remote wipe
                    .get-started
                        button.btn.btn-secondary.scroll-reveal Get started

                .col-md-4.col-md-offset-0.col-sm-8.col-sm-offset-2.plan.plan-featured
                    h3 BUSINESS
                    p.plan-description For big companies
                    hr
                    h4.scroll-reveal $18.99
                    p.plan-tag per month
                    p.plan-excerpt Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing.
                    hr
                    ul.check-marks
                        li.checked 30 Gb of space
                        li.checked 90 days of file recovery
                        li.checked MS Office 365 integration
                        li.checked Unlimited third-party integrations
                        li.checked Remote wipe
                    .get-started
                        button.btn.btn-secondary.scroll-reveal Get started
