#menu
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.10);
    font-size: 16px;
    font-weight: 300;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    .navbar
        border: 0;
        line-height: 100px;
        margin: 0 auto;

        .navbar-header
            text-align: left;

        .nav
            a
                color: $textColor;
                line-height: 88px;
                padding: 12px 22px 0 22px;

                &:hover
                    background: none;
                    color: red;
