#cat
    background: #5E6977;
    color: #D1D4D8;
    margin-top: -128px;
    padding: 270px 0 100px 0;
    text-align: center;

    h1
        color: #FFF;
        margin-top: -13px;

    header
        padding-bottom: 40px;

    .btn-primary
        font-size: 16px;
        height: 56px;
        margin-bottom: 50px;
        min-width: 165px;
        padding: 0;

    .client-list
        padding-bottom: 3px;

        img
            margin: 0 25px;
            opacity: 0.8;

        p
            font-size: 18px;
            font-weight: 300;
            padding-bottom: 25px;

    .btn-primary
        background: #7dc855;
        border: 0;
