#hero
    margin-bottom: 75px;
    padding-top: 180px;

    header
        padding-bottom: 25px;

    .showcase
        background: #dfe7ea;
        border-radius: 15px;
        margin-bottom: 30px;
        padding-top: 30px;
        text-align: center;

        img
            height: 310px;

    .features-bullet
        background: url('/images/showcase/icons.svg') 30px 18px no-repeat;
        font-weight: 300;
        margin-bottom: 50px;
        min-height: 100px;
        padding-left: 110px;

    .features-bullet-prototype
        background-position: 30px -75px;

    .features-bullet-texts
        background-position: 30px -168px;
