section#hero.container
    header.col-md-8.col-md-offset-2
        h1 The Best Way to Work Together
        p We design and develop software for funded startups and established companies. Here are just some examples of our work

    .col-md-12
        .row
            .showcase.col-md-12
                img.showcase-img(src="/images/showcase/hero.jpg" alt="Module 02 Showcase")

    .features.row
        .col-md-4.features-bullet.features-bullet-data
            h3 Keep your Data
            p Enterprise-ready performance and controls.
        .col-md-4.features-bullet.features-bullet-prototype
            h3 Prototype your Project
            p 24/7 proactive threat scanning to prevent attacks.
        .col-md-4.features-bullet.features-bullet-texts
            h3 Create Smart Texts
            p That really resonates with your target audience.
