header#menu.container-fluid
    nav.navbar.container
        .row
            .navbar-header.col-md-2
                img.logo(src="/images/common/module-02-logo.svg" alt="Module 02 logo - We design and develop software.")
            ul.nav.navbar-nav.col-md-10.hidden-print
                li
                    a(href="#hero") Features
                li
                    a(href="#pricing") Pricing
                li
                    a(href="#tour") Learn more
                li
                    a(href="#contact") Contact sales
