footer#contact.container-fluid
    .container
        .col-md-1.col-xs-3.logo
            img.img-responsive.scroll-reveal(src="/images/common/module-02-logo-color.svg" alt="Module 02 logo in full color")

        .col-md-3.col-xs-9.copyright
            p Huge modern UI Kit containing 130+ terrific components in 11 popular categories. Each component is fully.

        .col-md-6.sitemap
            .row
                ul.col-xs-3.col-xs-offset-3
                    li.header Support
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Press
                    li
                        a(href="#") FAQ

                ul.col-xs-3
                    li.header Business
                    li
                        a(href="#") Home
                    li
                        a(href="#") Mobile
                    li
                        a(href="#") Pricing

                ul.col-xs-3
                    li.header Community
                    li
                        a(href="#") Developers
                    li
                        a(href="#") Referrals
                    li
                        a(href="#") Forum

        .col-md-2.language-selector
            .dropdown
                button.btn.btn-transparent.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    img(src="/images/common/language-icon.svg" alt="Change Language")
                    span.language-en-UK English (UK)
                    span.caret
                    span.sr-only Select language

                ul.dropdown-menu(role="menu")
                    li(role="presentation")
                        a(href="?lang=es" role="menuitem").language-es Español
                    li(role="presentation")
                        a(href="/" role="menuitem").language-en-UK English (UK)
                    li(role="presentation")
                        a(href="/" role="menuitem").language-en-US English (US)

script(src='/javascript/vendors.min.js')
script(src='/javascript/main.min.js')
