doctype html
head
    meta(charset='utf-8')
    meta(http-equiv="x-dns-prefetch-control" content="on")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='author' content= package.author )
    meta(name='description' content= package.description )
    meta(name='keywords' content= package.keywords.join(',') )
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="publisher" href="https://plus.google.com/+JoseAlonsoMendezLieras")
    link(rel='stylesheet' href='/stylesheets/main.min.css' media='screen')
    title= package.name + ' v' + package.version
