@import '_styles/colors'
@import '_styles/custom'
@import '_styles/menu'
@import '_styles/grid'

body
    background: #FFFFFF;
    color: $textColor;
    font-family: 'Roboto', Helvetica, Myriad, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;

.btn
.btn:active
    &:focus
        outline: none;

a
    color: $linkColor;
    font-weight: 400;

    &:hover
        color: $headerColor;
        text-decoration: none;

h1, h2, h3, h4
    -webkit-font-smoothing: antialiased;

h2, h3, h4
    font-weight: 100;

h1, h2, h3
    color: $headerColor;

h1
    font-size: 52px;
    font-weight: 300;
    margin-bottom: 27px;
    margin-top: 15px;
    letter-spacing: -2.5px;
    line-height: 60px;

h2
    font-size: 32px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 20px;
    margin-top: 85px;

h3
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
    margin-top: 15px;

header
    font-size: 22px;
    line-height: 32px;
    text-align: center;

footer
    background: #545e6b;
    color: #B7BCC1;
    font-weight: 300;
    line-height: 24px;
    padding: 52px 0 70px 0;

    .language-selector
        img
            margin-top: -3px;
            margin-right: 10px;

        button
            .caret
                margin-left: 10px;

    .logo
        margin-top: 4px;

    ul
        list-style-type: none;

        li
            height: 36px;

            &.header
                color: #FFF;

            a
                color: #B7BCC1;
                -webkit-font-smoothing: antialiased;

                &:active
                &:focus
                &:hover
                    color: #FFF;

.btn-secondary
    background: #fff;
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    color: #358ED7;
    font-family: Roboto-Medium;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 42px;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;

.btn-transparent
    background: none;

@import '../../src/modules/**/*.styl';
