@import bootstrap
@import '_styles/colors'

.dev-tag
    background: $red;
    color: white;

body
    background: #FFFFFF;
    color: #8e9ba5;
    font-family: 'Roboto', Helvetica, Myriad, Arial, sans-serif;
    font-weight: 100;

h2, h3, h4
    font-weight: 100;

h1, h3
    color: #43484d;

h1
    font-weight: 300;

header
    text-align: center;
    p
        font-size: 18px

footer
    background: #545e6b;
    padding: 45px 0 70px 0;
