mixin body()
    include _partials/header
    body(data-spy="scroll")
        .document
            block

            include _partials/footer
        .debug-pill
            span= package.title + (env === 'DEV'?' · [v' + package.version + ']': '')
