mixin body()
    include _partials/header
    body(data-spy="scroll")
        .document
            block

            include _partials/footer
        - if(env !== 'PROD')
            .debug-pill
                span= package.title + (env !== 'PROD'?' · ['+ env +' ' + package.version + ']': '')
